form.formulario {
  display: flex;
  flex-direction: column;
}

.configuracoes {
  margin-bottom: 5%;
}

.grupo-radio {
  font-size: calc(0.25em + 1vmin);
}

.alterado {
  background-color: hsl(0deg, 100%, 95%);
  border-color: hsl(0deg, 100%, 95%);
  border-style: solid;
}

div.grupo-input {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  padding: 0.1em 0.25em 0.1em 0.25em;
}

div.grupo-input label {
  white-space: nowrap;
}
