.config-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

form.formulario {
  display: flex;
  flex-direction: column;
}

.configuracoes {
  margin-bottom: 5%;
}

div.grupo-input {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  padding: 0.1em 0.25em 0.1em 0.25em;
}

div.grupo-input label {
  white-space: nowrap;
}

.painel-botoes-controle > div {
  flex: 1 1 0px;
}

.grupo-radio {
  font-size: calc(0.25em + 1vmin);
}
