.config-container {
  display: flex;
  flex-direction: column;
}

form.formulario {
  display: flex;
  flex-direction: column;
}

form.formulario .configuracoes {
  margin-bottom: 5%;
}

form.formulario div.grupo-input {
  display: flex;
  flex-direction: column;
}
