form.formulario {
  display: flex;
  flex-direction: column;
}

.configuracoes {
  margin-bottom: 5%;
}

.grupo-radio {
  font-size: calc(0.25em + 1vmin);
}

.alterado {
  background-color: hsl(0deg, 100%, 95%);
  border-color: hsl(0deg, 100%, 95%);
  border-style: solid;
}
