.app {
  background-color: hsl(220, 13%, 18%);
}

.app-container {
  text-align: center;
  margin: auto;
  min-width: fit-content;
  min-height: fit-content;
  max-height: 100vh;
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(0.500em + 2vmin);
  color: white;
}