.app {
  background-color: hsl(220, 13%, 18%);
}

.app-container {
  text-align: center;
  padding: 1%;
  min-width: fit-content;
  min-height: fit-content;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(0.5em + 2vmin);
  color: white;
}

.linha {
  display: flex;
  flex-direction: row;
  flex: auto;
  align-items: center;
}

.coluna {
  display: flex;
  flex-direction: column;
  flex: auto;
}

div.grupo-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0.25em;
}

div.grupo-info > label {
  margin-right: 0.25em;
}

div.grupo-info > p {
  margin: 0;
}
